<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>
    <p>NAKANO CENTRAL PARK EAST, 4-10-1, Nakano, Nakano Ku, Tokyo To, 164-0001, Japan</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "0359426007" %></p>
    <h3>Email</h3>

    <p><a href="mailto:sasakicozy@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.736922627567!2d139.6605283155948!3d35.708090980188096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f29064a57887%3A0xec305f2f90a2006!2z5Lit6YeO5Yy655Sj5qWt5oyv6IiI5o6o6YCy5qmf5qeL!5e0!3m2!1sja!2sjp!4v1570782429858!5m2!1sja!2sjp" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>
